* {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	text-decoration: none;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	/*perspective: 800px;*/
}

#header-back {
	position: absolute;
	width: 100%;
	height: 120px;
	background-color: lightslategray;
	opacity: 0.3;
}
#header-force {
	position: absolute;
	width: 80%;
	height: 120px;
	margin-left: 10%;
	border-radius: 10px;
	text-align: center;
	line-height: 120px;
	transition: all 4s;
	transform-style: preserve-3d;
}

#header-force-txt {
	color: inherit;
}

#container-back {
	position: absolute;
	z-index: -1;
	width: 80%;
	height: 100%;
	margin-left: 10%;
	background-color: #f2f2f2;
}

#container-force {
	position: absolute;
	width: 80%;
	margin-left: 10%;
	margin-top: 120px;
	margin-bottom: 70px;
	overflow: hidden;
	background-color: #f2f2f2;
}

ul {
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

ul li {
	display: block;
	overflow: hidden;
	width: 25%;
	height: 230px;
	float: left;
}

ul li img {
	width: 95%;
	height: 190px;
	margin: 0px 10px;
}

ul li .txt {
	display: block;
	width: 95%;
	height: 35px;
}

ul li .txt .leftxt {
	display: block;
	float: left;
	width: 50%;
	height: 100%;
	line-height: 35px;
	padding-left: 15px;
}

ul li .txt .rightxt {
	display: block;
	float: right;
	width: 40%;
	height: 100%;
	line-height: 35px;
	text-align: center;
}

.dispaly-txt {
	color: black;
	font-size: 15px;
}

div #form {
	margin: 0px auto;
	padding-top: 20px;
	margin-bottom: 50px;
	width: 100%;
	height: 40px;
}

#form #input-text {
	display: block;
	float: left;
	width: 85%;
	height: 90%;
}

#form #submit-text {
	display: block;
	float: right;
	width: 14%;
	height: 100%;
}

#submit {
	font-size: 25px;
	background-color: #FF1493;
}

input {
	font-size: 15px;
	width: 100%;
	height: 100%;
	outline: none;
}

#box-3d {
	width: 300px;
	height: 300px;
	position: fixed;
	bottom: 70px;
	transform-style: preserve-3d;
	transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
}

.front,
.back,
.left,
.right,
.top,
.bottom {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height: 300px;
	font-size: 30px;
	overflow: hidden;
}

.front img,
.back img,
.left img,
.right img,
.top img,
.bottom img {
	width: 100%;
	height: 100%;
}

.back {
	transform: translateZ(-150px);
	background-color: red;
}

.front {
	transform: translateZ(150px);
	background-color: orange;
}

.left {
	transform: rotateY(90deg) translateZ(-150px);
	background-color: deeppink;
}

.right {
	transform: rotateY(90deg) translateZ(150px);
	background-color: blue;
}

.top {
	transform: rotateX(90deg) translateZ(150px);
	background-color: green;
}

.bottom {
	transform: rotateX(90deg) translateZ(-150px);
	background-color: darkorchid;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 70px;
	font-size: 25px;
	text-align: center;
	line-height: 70px;
	background-color: lightslategray;
}

#loading {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	background: #161011;
	opacity: 0.7;
	cursor: progress;
}

#loading-info {
	z-index: 1;
	width: 200px;
	height: 100px;
	margin: auto;
	background: rgba(53, 53, 53, 0.87);
	color: white;
	border-radius: 5px;
	text-align: center;
	line-height: 100px;
}